[submodule "external/grammars-v4"]
	path = external/grammars-v4
	url = https://github.com/antlr/grammars-v4.git
[submodule "external/antlr_psql"]
	path = external/antlr_psql
	url = https://github.com/tshprecher/antlr_psql.git
